.delarea {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  padding: 0;
}

.carCnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
}

.imgCnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carImg {
  min-height: 350px;
  max-height: 351px;
  object-fit: cover;
  min-width: 250px;
  max-width: 250px;
  border-radius: 20px;
}

.errorMsg {
  color: red;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .delarea {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .carImg {
    margin-top: 50px;
    min-height: 350px;
    max-height: 351px;
    object-fit: cover;
    min-width: 250px;
    max-width: 250px;
    border-radius: 20px;
  }
}
