@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.detailContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 240px;
  /* background-image: url("http://1.bp.blogspot.com/-3QRsjl0wan4/Uk0X7hIP0eI/AAAAAAAAAHY/oE8w8r3oRvs/s1600/Super+sport+cars+wallpapers+2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%; */
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 35px;
  margin-left: 200px;
}

.carYear {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  margin-top: 0px;
  margin-left: 00px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 0 10px;
}

.priceColor {
  color: var(--primary-green);
}

.car {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.car img {
  display: flex;
  justify-content: center;
  min-height: 450px;
  max-height: 451px;
  min-width: 610px;
  border-radius: 50%;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.detail h2 {
  font-weight: bold;
}

.detail p {
  font-weight: bold;
}

.reservebtn {
  justify-items: center;
}

.btncontainer {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btncontainer button {
  width: 10rem;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #97c010;
  color: #fff;
  border: none;
  font-size: large;
  font-weight: bold;
}

.carModel {
  display: flex;
  justify-content: center;
}

.btncontainer button:hover {
  color: black;
  background-color: #caf149;
}

@media screen and (max-width: 768px) {
  .detailContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .title {
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }

  .car {
    margin: auto;
    align-items: center;
  }

  .car img {
    margin-top: 50px;
    justify-content: center;
    min-height: 450px;
    max-height: 451px;
    object-fit: cover;
    min-width: 350px;
    max-width: 350px;
    border-radius: 10px;
  }

  .detail {
    padding: 10px;
  }

  .btncontainer {
    position: relative;
    bottom: 0;
    right: 10px;
    padding: 10px;
  }

  .carYear {
    justify-content: center;
    gap: 0 10px;
    background-color: #ecf0f1;
  }

  .btncontainer button {
    margin: 30px 0;
  }
}

@media screen and (max-width: 890px) {
  .detailContainer {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .title {
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }

  .detail {
    position: relative;
    padding: 10px;
  }

  .btncontainer {
    position: relative;
    bottom: 0;
    right: 10px;
    padding: 10px;
  }

  .btncontainer button {
    margin: 30px 0;
  }

  .detail h2 {
    margin: auto;
    margin-bottom: 30px;
    font-weight: bold;
  }
}
