html {
  overflow-x: hidden;
}

.links {
  text-decoration: none;
  color: rgb(26, 26, 26);
  transition: 0.2s;
}

.links:hover {
  color: var(--primary-green);
}

.carCnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  margin-left: 0;
}

.imgCnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carImg {
  min-height: 350px;
  max-height: 451px;
  object-fit: cover;
  min-width: 250px;
  max-width: 340px;
  border-radius: 150px;
}

.price {
  background-color: var(--primary-green);
  border-radius: 20px;
  padding: 0.4rem 0.75rem;
  margin-top: 1rem;
  color: rgba(2, 15, 17, 0.425);
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  .carImg {
    min-height: 350px;
    max-height: 351px;
    object-fit: cover;
    min-width: 250px;
    max-width: 250px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 390px) {
  .links {
    width: 380px;
  }

  .carCnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    margin-left: 0;
  }

  .carImg {
    min-height: 350px;
    max-height: 351px;
    object-fit: cover;
    min-width: 200px;
    max-width: 200px;
    border-radius: 20px;
  }
}
