.container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-image: url('http://1.bp.blogspot.com/-3QRsjl0wan4/Uk0X7hIP0eI/AAAAAAAAAHY/oE8w8r3oRvs/s1600/Super+sport+cars+wallpapers+2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  min-height: 100vh;
}

.fundo {
  transition: ease-in;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 14, 14);
  opacity: 0.7;
}

.header {
  font-weight: bolder;
  margin-top: -240px;
  color: aliceblue;

  /* z-index: 3; */
  font-family: var(--pacifico);
  font-size: 75px;
  letter-spacing: 1px;
  margin: 130px 0 100px;
}

.form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.button {
  margin-top: -100px;
  margin-left: 270px;
  color: blue;
  border-radius: 5px;
  background-color: aliceblue;
}

.errorMsg {
  color: red;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0;
  }

  .form {
    width: 250px;
  }

  .button {
    margin-left: 35%;
  }
}
